.main{
    width: 1500px;
    text-align: center;
    margin: 0 auto;
   border: 2px solid #d7d7d7;
   max-height:1000px;
  } 
   
  #reset{
    position:absolute;
      transition: .5s ease;
      margin-top: 5%;
      margin-left: 80%;

    }
  
    #submit
    {
      position:absolute;
      transition: .5s ease;
      margin-top: 5%;
      left: 75%;
    }